<!DOCTYPE html>
<html lang="en">
<head>
  <title>AngularJS Practice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--  customize script -->
  <script src="angular.min.js"></script>
  <script src="app.js"></script>

</head>
<body data-ng-app="myApp">

<div class="jumbotron text-center">
  <h1>Module-1 solution</h1>
</div>

<div class="container" ng-controller="myController">
  <div class="row">
    <input type="text" ng-model="items"></input><br>
    {{message}}
    {{filterMessage}}


    <br>
    <input type="button" value="Check it Too much!!" ng-click="checkItTooMuch()"></input>



  </div>
</div>

</body>
</html>
